<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /RA4.AEECreaci-nDeUnServicioDeAutenticaci-nConApiRestJWT/api/
    
    # Reescribir todas las solicitudes a index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>